<section class="navber">
    <div class="container d-flex justify-content-between">
        <ul class="mb-0 pl-0">
            <li><img src="../../../../assets/images/logo.png"></li>
            <li>
                <h6 class="text-capitalize">Bengal Mobile QA Solution<span class="text-uppercase ml-1">- PRO IDENT CUSTOMER VERIFICATION</span></h6>
            </li>
        </ul>
        <ul class="mb-0 user pl-0">
            <li>
                <a href=""><i class="fas fa-user mr-1"></i>
                    <span>Welcome Michal</span>
                    <i class="fa fa-angle-down" aria-hidden="true"></i>
                </a>
            </li>
        </ul>
    </div>
</section>