<section class="pro_ident">
    <div class="container">
        <div class="title">
            <h6 class="text-uppercase font-weight-bold">PRO-IDENT</h6>
            <h5 class="text-uppercase">Customer Varification Process</h5>
        </div>

        <!------process-------->
        <div class="row">
            <div class="col-sm-12 col-md-5">
                <div class="process_box">
                    <h4 class="text-capitalize font-weight-bold mb-0">Personal Information</h4>
                    <img src="../../../../assets/images/id.png" class="img-fluid my-5">
                    <h6 class="text-uppercase font-weight-bold">ID</h6>
                    <p class="text-uppercase font-weight-bold">Information</p>
                </div>
            </div>
            
            <div class="col-sm-12 col-md-5">
                <div class="process_box">
                    <h4 class="text-capitalize font-weight-bold mb-0">Fingerprint Scan</h4>
                    <img src="../../../../assets/images/finger_print.png" class="img-fluid my-5">
                    <h6 class="text-uppercase font-weight-bold">Biometric</h6>
                    <p class="text-uppercase font-weight-bold">Verification</p>
                </div>
            </div>
            
            <div class="col-sm-12 col-md-5">
                <div class="process_box">
                    <h4 class="text-capitalize font-weight-bold mb-0">Manually Data Entry</h4>
                    <img src="../../../../assets/images/application.png" class="img-fluid my-5">
                    <h6 class="text-uppercase font-weight-bold">Application</h6>
                    <p class="text-uppercase font-weight-bold">Information</p>
                </div>
            </div>
            
            <div class="col-sm-12 col-md-5">
                <div class="process_box">
                    <h4 class="text-capitalize font-weight-bold mb-0">OCR Scan</h4>
                    <img src="../../../../assets/images/document.png" class="img-fluid my-5">
                    <h6 class="text-uppercase font-weight-bold">Docoment</h6>
                    <p class="text-uppercase font-weight-bold">Varification</p>
                </div>
            </div>
            
            <div class="col-sm-12 col-md-5">
                <div class="process_box">
                    <h4 class="text-capitalize font-weight-bold mb-0">Digital File Upload</h4>
                    <img src="../../../../assets/images/photo.png" class="img-fluid my-5">
                    <h6 class="text-uppercase font-weight-bold">Digital Photo</h6>
                    <p class="text-uppercase font-weight-bold">& Signature</p>
                </div>
            </div>
        </div>
        <button type="button" class="btn-hover color text-uppercase" [routerLink]="['/home/varificationProcess']">Start Process</button>
    </div>
</section>